<div class="row mt-2">
  <div class="col-2" #personIdDiv>{{person.id}}</div>
  <div class="col-2" #firstNameData>{{person.firstName}}</div>
  <div class="col-2" #lastNameData>{{person.lastName}}</div>
  <div class="col-4">
    <button class="btn btn-primary" type="button" #editBtn
      (click)="onEdit(personIdDiv.innerHTML, firstNameData, lastNameData, editBtn)">Редактировать</button>
  </div>
  <div class="col-2">
    <button class="btn btn-danger" type="button" (click)="onDelete(personIdDiv.innerHTML)">Удалить</button>
  </div>
</div>
