<div class="row">
  <div class="col-12">
    <input class="form-control" placeholder="Имя" type="text" name=""
      (keydown)="onValidate(inputFirstName, inputLastName, btn)" #inputFirstName>
  </div>
  <div class=" col-12">
    <input class="form-control mt-2" type="text" placeholder="Фамилия" name=""
      (keydown)="onValidate(inputFirstName, inputLastName, btn)" #inputLastName>
  </div>
  <div class=" col-12">
    <button class="btn btn-primary mt-2 btn-lg" type="button" (click)="onAddPerson(inputFirstName, inputLastName, btn)"
      disabled #btn>Добавить</button>
  </div>
</div>
