<div class="container">
  <div class="row">
    <h1>{{title}}</h1>

  </div>
  <app-person-view *ngFor="let person of persons" [person]='person' (delete)='deleteFromArr($event)'
    (editPerson)="onEditPerson($event)"></app-person-view>
  <hr>
  <app-person-add (addPerson)="onAddPerson($event)"></app-person-add>
</div>
